@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="~/css/Input.css" />
    <link rel="stylesheet" href="~/css/Main.css" />
    <script src="https://kit.fontawesome.com/7de8aab842.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img class="mainLogo" src="~/Resource/logo.png" alt="logo" loading="lazy">
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Main/Home">Forum</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Main/Profile">Profile</a>
                            </li>
                        }

                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-area="" asp-page="/SignIn/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn" asp-area="" asp-page="/SignIn/Register">Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                                <a class="navbar-brand" asp-area="" asp-page="/Index">
                                    <img class="avatar" src="../Resource/logo.png" alt="avatar" loading="lazy">
                                </a>
                                <div class="notifyMnHolder">
                                    <span class="text-dark icoTool">
                                        <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
                                    </span>
                                    <div class="notifyMn border-bottom box-shadow">
                                        <p>There are no notify yet </p>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="text-dark icoTool" asp-area="" asp-page="/SignIn/Logout">
                                    <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Forum - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    @*<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>*@
    <script src="https://cdn.tiny.cloud/1/th2qrwfclmaizb4a0ntymr2hqucois3mcetj7f63ps0qeprb/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
